
#search_results_dropdown {
    list-style-type: none;
}
.rxn_item {
    border-style: solid;
    border-radius: 15px;
    margin: 2px 0;
    padding: 10px;
    width: 400px;
}

input {
    width: 90%
}

h1 {
    display: block;
    font-weight: bold;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
#rxn_list {
    /* list-style-type: disc; */
    padding-inline-start: 10px
}
.rxn_name {
    display: block;
    margin-left: 5px;
}

.result_header {
    font-weight: bold;
    margin-top: 1px;
    margin-bottom: 1px;
}